[submodule "WillieScant-Consulting---Password-Reset-Modal"]
	path = WillieScant-Consulting---Password-Reset-Modal
	url = https://github.com/Joshua-Mbithuka/WillieScant-Consulting---Password-Reset-Modal.git
[submodule "Williescant-Consulting---KRA-Integration-Page"]
	path = Williescant-Consulting---KRA-Integration-Page
	url = https://github.com/Joshua-Mbithuka/Williescant-Consulting---KRA-Integration-Page.git
[submodule "E-commerce-Website"]
	path = E-commerce-Website
	url = https://github.com/Joshua-Mbithuka/E-commerce-Website.git
